[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/hjhyunjinkim/diff-gaussian-rasterization.git
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/hjhyunjinkim/simple-knn.git
